################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphManipulator1/v17/.wsuo
/GraphManipulator/.vs/GraphManipulator/FileContentIndex
